body {
			z-index: -1;
			background-attachment: fixed;
			background-color: #e1e6e1;
			background-image: url("../../../../../../../public/images/overlay.png");
			background-size: 128px 128px, cover;
		}
.myPFont{
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	font-size: 1.2vmax;
	white-space: pre-wrap;
	margin: auto;
	text-align: center;
}
.seminarText{
	align-items: center;
	padding-top: 3vmax;
	font-weight: 600;
	font-size: 2vmax;
}

.headerbgimg{
    width:auto;
    height: auto;
    background-size : contain;
    background-position : center;
}
.content{
    align-items: center;
    align-content: center;
    text-align: center;
    border: solid  black;
    min-height: 80vh;
    
}
.titleImg{
    
    font-weight: bold;
    font-size: 60px;
    margin-top: 30px;
    background-color: bisque;
    height: 19vh;
    background-size : cover;
  background-position : center;
}
.navigation{
    margin-top: 10px;
    background-color: gray;
    height: auto;
}
.nav {
    color: black;
  }
  
  .nav:hover,
  .nav:focus {
    color: lightslategray;
  }
  .contentDiv{
    
    
    min-height: 80vh;
    padding: 10px;
    margin: 10px;
  }
  .frameImg{
    margin-top: 50px;
    height: 50vh;
    width: 100vh;
   
  }